<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zqw.mobile.grainfull">
    <!-- 华为SDK -->
    <meta-data
        android:name="com.huawei.hms.ml.DEPENDENCY"
        android:value="object,ocr,face,label,icr,bcr,imgseg,translate,langdetect,skeleton,handkeypoint" /> <!-- 该权限用于读取手机状态,比如基于百度lbs定位雷达的附近的程序员功能，微博用于调用JNI -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- WIFI -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 读取日志权限 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- 往SDCard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写存储卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 应用程序用到设备的摄像头。如果设备支持多个摄像头，程序使用背朝屏幕的那个。 -->
    <uses-feature android:name="android.hardware.camera" /> <!-- 子特性。应用程序用到设备摄像头的自动对焦功能 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 应用需要获取您的录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- service前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 用于导航中省电设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 诱导悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity
            android:name=".mvp.ui.activity.AudioConversionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AudioWaveformActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduSpeechSynthesisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduVoiceOnlineSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduVoiceRecogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduFaceActivationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FaceComparisonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LivenessCustomDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SerialNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduQualityParamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduQualityControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduFaceDetectExpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduFaceAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduFaceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LivenessDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduFaceCollectionSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduFaceLivenessExpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaiduFaceRecognitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DynamicGesturesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ImageExtractionTextActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.activity.IdentifyIdCardActivity" />
        <activity android:name=".mvp.ui.activity.IdentifyBankCardsActivity" />
        <activity android:name=".mvp.ui.activity.AboutActivity" />
        <activity android:name=".mvp.ui.activity.SettingActivity" />
        <!-- 首页 -->
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 登录 -->
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 欢迎界面 -->
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider> <!-- Arms 配置 -->
        <meta-data
            android:name="com.zqw.mobile.grainfull.app.global.GlobalConfiguration"
            android:value="ConfigModule" /> <!-- 华为 - 识别银行卡 -->
        <meta-data
            android:name="com.huawei.hms.ml.DEPENDENCY"
            android:value="bcr" /> <!-- 百度地图 API KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${BAIDU_API_KEY}" /> <!-- 百度地图服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 千万别忘了加这一句。支持api level 28 以上编译 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>