<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.baidu.aip.asrwakeup3.uiasr">
    <application>
        <activity
                android:name=".setting.OnlineSetting"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="在线识别设置"
                android:theme="@android:style/Theme.DeviceDefault.Light"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".setting.OfflineSetting"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="在线识别设置"
                android:theme="@android:style/Theme.DeviceDefault.Light"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".setting.NluSetting"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="语义设置"
                android:theme="@android:style/Theme.DeviceDefault.Light"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".setting.AllSetting"
                android:configChanges="orientation|keyboardHidden|screenLayout"
                android:label="识别设置"
                android:theme="@android:style/Theme.DeviceDefault.Light"
                android:screenOrientation="portrait"/>
    </application>
</manifest>